.rowContent{
    display:flex;
    flex-direction:row;
}
.contentFolderOne{
    align-content: center;
    text-align: center;
    padding-top: 10%;
}
.defHeading{
    color: darkgoldenrod;
    font-weight: 1000;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contentOne{
    color: brown;
    font-size: x-large;
    font-style: italic;
}